#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #00A2E1;
    height: 60px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 100px;
}

.nav-item {
    display: flex;
    column-gap: 10px;
}


#logo {
    height: 30px;
    margin-left: 8px;
    margin-right: 20px;
}

#branding {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}